<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<div th:fragment="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Tenisuj-sk</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="nav-link" href="/rest/users/">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/players/">Players</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leagues/">Leagues</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/matches/">Matches</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">

                    <!-- Zobraziť "Log In" a "Sign Up", ak používateľ nie je prihlásený -->
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" href="/signup">Sign Up</a>
                    </li>

                    <!-- Zobraziť "Log Out" a "My Profile", ak je používateľ prihlásený -->
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/profile/">My Profile</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>

</body>
</html>
