<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} ? ${pageTitle} : 'default title'"></title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
<!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->
    <style></style>
</head>
<body>

<header>


</header>

<div id="menu" th:insert="~{fragments/menu :: menu}"></div>
<div id="page" class="container mt-4">
    <h2 th:text="${pageTitle}" class="mb-5"></h2>
    <h3>Add new player</h3>
    <form action="#" th:action="@{/players/create}" th:object="${player}" method="post" class="mb-4">
        <div class="mb-3">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" th:field="*{firstName}" id="firstName" class="form-control">
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" th:field="*{lastName}" id="lastName" class="form-control">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" th:field="*{email}" id="email" class="form-control">
        </div>

        <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <input type="text" th:field="*{gender}" id="gender" class="form-control">
        </div>

        <div class="mb-3">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="date" th:field="*{birthDate}" id="birthday" class="form-control">
        </div>

        <div class="mb-3">
            <label for="leagueStatus" class="form-label">League status</label>
            <input type="hidden" th:field="*{birthDate}" id="leagueStatus" class="form-control">
        </div>

        <div class="mb-3">
            <label for="hand" class="form-label">Hand</label>
            <input type="text" th:field="*{hand}" id="hand" class="form-control">
        </div>

        <p>
            <button type="submit">ADD</button>
        </p>
    </form>
</div>

<div th:switch="${#lists.size(players)}">
    <p th:case="0">No players</p>
    <div th:case="*">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Birthday</th>
                <th>League status</th>
                <th>Hand</th>
                <th>Rating</th>
                <th>Registration date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="player : ${players}">
                <td th:text="${player.firstName}">First name</td>
                <td th:text="${player.lastName}">Last name</td>
                <td th:text="${player.email}">Email</td>
                <td th:text="${player.gender}">Gender</td>
                <td th:text="${player.birthDate}">Birthday</td>
                <td th:text="${player.leagueStatus}">League status</td>
                <td th:text="${player.hand}">Hand</td>
                <td th:text="${player.rating}">Rating</td>
                <td th:text="${player.registrationDate}">Registration date</td>
            </tr>
            </tbody>

        </table>
    </div>

    <footer>


    </footer>
</div>
</body>
</html>