<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle} ? ${pageTitle} : 'default title'"></title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
    <!--    <link rel="stylesheet" th:href="@{/css/style.css}">-->
    <style></style>
</head>
<body>

<header>


</header>

<div id="menu" th:insert="~{fragments/menu :: menu}"></div>
<div id="page" class="container mt-4">
    <h2 th:text="${pageTitle}" class="mb-5"></h2>
    <h3>Create profile</h3>
    <form action="#" th:action="@{/profile/create}" th:object="${player}" method="post" class="mb-4">
        <div class="mb-3">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" th:field="*{firstName}" id="firstName" class="form-control">
        </div>

        <div class="mb-3">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" th:field="*{lastName}" id="lastName" class="form-control">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" th:field="*{email}" id="email" class="form-control">
        </div>

        <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select th:field="*{gender}" id="gender" class="form-control">
                <option value="" selected>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="date" th:field="*{birthDate}" id="birthday" class="form-control">
        </div>

        <div class="mb-3">
            <label for="hand" class="form-label">Hand</label>
            <select th:field="*{hand}" id="hand" class="form-control">
                <option value="" selected>Select Hand</option>
                <option value="Left">Left</option>
                <option value="Right">Right</option>
            </select>
        </div>

        <p>
            <button type="submit">Create profile</button>
        </p>
    </form>
</div>

    <footer>


    </footer>

</body>
</html>